@font-face {
    font-family: AvertaSemibold;
    src: url(../fonts/AvertaSemibold.ttf);
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.page {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.topbar {
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 3px solid rgb(1, 101, 194);
}

.topbar .brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    cursor: pointer;
}

.topbar .menu {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    fill: white;
    cursor: pointer;
}

.topbar .weather-showcase {
    position: absolute;
    left: 70px;
    top: 0px;
    width: 120px;
    height: 100%;
    cursor: pointer;
}

.topbar .weather-showcase img {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 120%;
}

.topbar .weather-showcase p {
    position: absolute;
    right: 20px;
    top: -2px;
    font-size: 22px;
    color: white;
}

.topbar .datetime {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.topbar .datetime .clock {
    position: absolute;
    right: 10px;
    top: -50px;
    font-size: 50px;
    color: white;
}

.topbar .datetime .day {
    position: absolute;
    right: 150px;
    top: -5px;
    color: white;
}

.topbar .datetime .date {
    position: absolute;
    right: 150px;
    bottom: -5px;
    color: white;
    white-space: nowrap;
}

.content {
    position: relative;
    width: 100%;
    height: calc(100% - 73px);
}

.content .control-menu {
    width: 100%;
    height: 60px;
}

.content .control-menu .menu-item {
    float: left;
    display: flex;
    width: calc(100% / 4);
    height: 100%;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.content .control-menu .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

.content .control-menu .menu-item svg {
    float: left;
    height: 25px;
    fill: rgb(174, 174, 174);
    margin: 17.5px 17.5px 17.5px 17.5px;
}

.content .control-menu .menu-item p {
    float: left;
    color: rgb(142, 142, 142);
    font-size: 18px;
}

.controls {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.controls .rated {
    width: calc(100% - 30px);
    margin: 15px 15px 15px 15px;
    display: table;
    clear: both;
}

.controls .rated .item {
    position: relative;
    float: left;
    display: block;
    width: 230px;
    height: 210px;
    margin: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "AvertaSemibold";
    cursor: pointer;
}

.controls .rated .item svg {
    margin: 38px 0px 0px 50px;
    width: 50px;
    fill: rgb(235, 235, 245);
}

.controls .rated .item .title {
    margin: 25px 30px 0px 30px;
    font-size: 17px;
    line-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(235, 235, 245);
}

.controls .rated .item .value {
    margin: 1px 30px 0px 30px;
    font-size: 17px;
    line-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(234, 234, 245, 0.6);
}

.controls .rated .item .category {
    position: absolute;
    left: 30px;
    bottom: 18px;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgba(235, 235, 245, 0.3);
}

.controls .rated .lcenter svg {
    position: absolute;
    left: 50%;
    top: 38px;
    transform: translateX(-50%);
    margin: 0;
}

.controls .rated .lcenter {
    height: 160px;
}

.controls .rated .lcenter .title {
    position: absolute;
    left: 50%;
    top: 108px;
    transform: translateX(-50%);
    margin: 0;
}

.controls .rated .item .control {
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: 60px;
}

.controls .rated .item .control button {
    position: relative;
    float: right;
    width: 38px;
    height: 38px;
    margin: 0px 0px 10px 0px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.controls .rated .item .control button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.controls .rated .item .control button:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.controls .rated .item .control button svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    margin: 0;
}

.controls .all {
    width: calc(100% - 40px);
    margin: 20px 20px 20px 20px;
}

.controls .all .item-title {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: calc(100% - 10px);
    height: 64px;
    font-family: "AvertaSemibold";
}

.controls .all .item-title p {
    float: left;
    margin: 25px 0px 0px 0px;
    font-size: 20px;
    color: white;
}

.controls .all .item-title svg {
    float: left;
    width: 15px;
    margin: 30px 0px 0px 15px;
    fill: white;
}

.controls .all .item {
    position: relative;
    float: left;
    margin-left: 10px;
    height: 74px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "AvertaSemibold";
    border-top: 1px solid rgba(49, 49, 51, 0.65);
    cursor: pointer;
}

.controls .all .item svg {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 37px;
    fill: rgb(235, 235, 245);
}

.controls .all .item .title {
    position: absolute;
    left: 70px;
    top: -1px;
    font-size: 17px;
    line-height: 21px;
    color: rgb(235, 235, 245);
}

.controls .all .item .value {
    position: absolute;
    left: 70px;
    bottom: -1px;
    font-size: 17px;
    line-height: 21px;
    color: rgba(234, 234, 245, 0.6);
}

.controls .all .item .control {
    float: right;
    height: 100%;
}

.controls .all .item .control .switch {
    margin: 18px 10px 18px 10px;
}

.controls .all .item .control button {
    position: relative;
    float: right;
    width: 38px;
    height: 38px;
    margin: 18px 10px 18px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.controls .all .item .control button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.controls .all .item .control button:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.controls .all .item .control button svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.controls .all .tcenter .title {
    top: 10px;
}

.controls .all .item .value strong {
    color: rgb(105, 195, 80);
}

.controls .open {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.controls .open .item {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "AvertaSemibold";
    display: none;
}

.controls .open .item .back {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
    cursor: pointer;
}

.controls .open .item .back:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.controls .open .item .back:active {
    background-color: rgba(255, 255, 255, 0.25);
}

.controls .open .item .back svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    margin: 0;
    padding: 0;
    fill: rgb(235, 235, 245);
}

.controls .open .item .title {
    margin: 0;
    padding: 40px 0px 15px 0px;
    font-size: 23px;
    line-height: 21px;
    color: rgb(235, 235, 245);
}

.controls .open .item .value {
    margin: 0;
    font-size: 19px;
    line-height: 21px;
    color: rgba(234, 234, 245, 0.6);
}

.controls .open .item svg {
    height: 90px;
    margin: 50px 0px 60px 0px;
    fill: rgb(235, 235, 245);
}

.controls .open .item .controling {
    width: calc(100% - 40px);
    max-width: 450px;
    margin: 0 auto;
}

.controls .open .item .controling button {
    margin: 5px 5px 5px 5px;
    padding: 20px 0px 20px 0px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    line-height: 21px;
    color: rgb(235, 235, 245);
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.controls .open .item .controling button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.controls .open .item .controling button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

.controls .open .item .controling button:disabled {
    background-color: rgba(255, 255, 255, 0.04);
    color: rgba(234, 234, 245, 0.6);
    cursor: default;
}

.controls .open .item .controling .b1 {
    width: calc(100% - 20px);
}

.controls .open .item .controling .b2 {
    width: calc(50% - 20px);
}

.controls .open .item .controling .b3 {
    width: calc((100% / 3) - 20px);
}

.controls .open .item .controling .b4 {
    width: calc(25% - 20px);
}

.controls .open .item .controling .b5 {
    position: relative;
    padding: 0;
    width: 61px;
    height: 61px;
}

.controls .open .item .controling .b5 svg {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.controls .open .item .controling .spacer {
    width: 100%;
    height: 40px;
    text-align: left;
    color: rgb(235, 235, 245);
    font-size: 23px;
    padding-top: 20px;
}

.controls .open .item .controling .meterchart {
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.controls .open .item .controling .meterchart .row {
    position: relative;
    width: calc(100% - 150px);
    height: 71.5px;
    margin: 5px 0px 5px 0px;
    border: none;
}

.controls .open .item .controling .meterchart .row .name {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0;
    font-size: 20px;
    color: rgb(235, 235, 245);
}

.controls .open .item .controling .meterchart .row .value {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin: 0;
    font-size: 17px;
    color: rgb(235, 235, 245);
}

.controls .open .item .controling .meterchart .pie-chart {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
}

.controls .open .item .controling .order-rows {
    border-top: 1px solid rgba(49, 49, 51, 0.65);
    border-bottom: 1px solid rgba(49, 49, 51, 0.65);
    padding-top: 10px;
    padding-bottom: 10px;
}

.controls .open .item .controling .order-rows .row-title {
    position: relative;
    width: 100%;
    height: 50px;
}

.controls .open .item .controling .order-rows .row-title .name {
    position: absolute;
    left: 10px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(235, 235, 245);
}

.controls .open .item .controling .order-rows .order-row {
    position: relative;
    width: 100%;
    height: 120px;
}

.controls .open .item .controling .order-rows .order-row svg {
    float: left;
    width: 30px;
    height: 30px;
    padding: 25px 25px 25px 25px;
    margin: 18px 18px 18px 18px;
    border: 2px solid gray;
    border-radius: 50%;
}

.controls .open .item .controling .order-rows .order-row .name {
    float: left;
    margin: 25px 0px 0px 2.5px;
    font-size: 18px;
    color: rgb(235, 235, 245);
}

.controls .open .item .controling .order-rows .order-row .subname {
    position: absolute;
    left: 123px;
    top: 37px;
    font-size: 15px;
    color: rgba(234, 234, 245, 0.6);
}

.controls .open .item .controling .order-rows .order-row .subsubname {
    position: absolute;
    left: 123px;
    bottom: 10px;
    font-size: 15px;
    color: rgba(234, 234, 245, 0.6);
}

.controls .open .item .controling .order-rows .order-row  select {
    float: right;
    height: 38px;
    margin: 15px 10px 0px 0px;
    padding: 0px 5px 0px 10px;
    font-size: 14px;
    color: rgba(234, 234, 245, 0.6);
    border: none;
    border-radius: 5px;
    background-color: rgb(25.5, 25.5, 25.5);
    cursor: pointer;
}

.controls .open .item .controling .row {
    position: relative;
    width: 100%;
    height: 70px;
    border-top: 1px solid rgba(49, 49, 51, 0.65);
}

.controls .open .item .controling .row-link {
    cursor: pointer;
}

.controls .open .item .controling .row .name {
    float: left;
    margin: 22px 0px 0px 10px;
    font-size: 20px;
    color: rgb(235, 235, 245);
}

.controls .open .item .controling .row .ws {
    margin: 12px 0px 0px 10px;
}

.controls .open .item .controling .row .subname {
    position: absolute;
    left: 12px;
    bottom: 3px;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgba(235, 235, 245, 0.3);
}

.controls .open .item .controling .row .subvalue {
    float: right;
    margin: 22px 10px 0px 0px;
    font-size: 20px;
    color: rgba(234, 234, 245, 0.6);
}

.controls .open .item .controling .row svg {
    float: right;
    padding: 0;
    margin: 22px 10px 0px 0px;
    height: 20px;
    fill: rgba(234, 234, 245, 0.6);
}

.controls .open .item .controling .row select {
    float: right;
    height: 38px;
    margin: 15px 10px 0px 0px;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    color: rgba(234, 234, 245, 0.6);
    border: none;
    border-radius: 5px;
    background-color: rgb(25.5, 25.5, 25.5);
    cursor: pointer;
}

.controls .open .item .controling .row input[type=range] {
    float: right;
    width: 120px;
    margin: 31px 15px 0px 0px;
}

.controls .open .item .controling .row .switch {
    float: right;
    margin: 15px 10px 0px 0px;
}

.controls .open .item .controling .select {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.controls .open .item .controling .select .title {
    float: left;
    margin: 0px 0px 10px 15px;
    font-size: 20px;
    color: rgb(235, 235, 245);
}

.controls .open .item .controling .select .selitem {
    position: relative;
    width: 90%;
    height: 80px;
    margin: 10px calc(10% / 2) 10px calc(10% / 2);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.controls .open .item .controling .select .selitem .radio {
    float: left;
    margin: 15px 0px 0px 15px;
}

.controls .open .item .controling .select .selitem .description {
    position: absolute;
    left: 65px;
    bottom: -3px;
    color: rgba(234, 234, 245, 0.6);
}

.controls .open .item .controling .switch {
    margin: 5px 0px 5px 0px;
}

.radio {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(235, 235, 245);
}
  
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 2px solid rgba(234, 234, 245, 0.6);
    border-radius: 50%;
    transition: 0.2s;
}
  
.radio:hover input ~ .checkmark {
    border: 2px solid rgba(234, 234, 245, 1);
}
  
.radio input:checked ~ .checkmark {
    border: 2px solid transparent;
    background-color: rgb(105, 195, 80);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.radio input:checked ~ .checkmark:after {
    display: block;
}
  
.radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 38px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 22px;
    left: 4px;
    bottom: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 3px;
}
  
input:checked + .slider {
    background-color: rgb(105, 195, 80);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(105, 195, 80);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

input[type="range"]{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 80%;
    height: 8px;
    background-color: #d5d5d5;
    border-radius: 8px;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
}

input[type="range"]::-moz-track{
    -moz-appearance: none;
    height: 8px;
}

input[type="range"]::-ms-track{
    appearance: none;
    height: 8px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

input[type="range"]::-ms-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}

.dimmer {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 300px;
    height: 150px;
    margin: 110px 0px 0px 72.5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    outline: none;
    rotate: -90deg;
}

.dimmer::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 8px;
}

.dimmer::-moz-track {
    -moz-appearance: none;
    height: 8px;
}

.dimmer::-ms-track {
    appearance: none;
    height: 8px;
}

.dimmer::-webkit-slider-thumb {
    height: 0px;
    width: 0px;
    border: none;
}

.dimmer::-moz-range-thumb {
    height: 0px;
    width: 0px;
    border: none;
}

.dimmer::-ms-thumb {
    height: 0px;
    width: 0px;
    border: none;
}

@media only screen and (max-width: 510px) {

}

@media only screen and (max-width: 670px) {
    .all .item {
        clear: both;
        width: calc(100% - 10px);
    }   
}

@media only screen and (min-width: 670px) {
    .all .item {
        float: left;
        width: calc(50% - 10px);
    }   
}

.timeselector {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: none;
}

.timeselector .selectedtime {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    color: rgb(235, 235, 245);
}

.timeselector #selecthours {
    position: absolute;
    left: -32.5px;
    top: 125px;
    rotate: -90deg;
    width: 150px;
    height: 10px;
}

.timeselector #selectminutes {
    position: absolute;
    right: -32.5px;
    top: 125px;
    rotate: -90deg;
    width: 150px;
    height: 10px;
}

.timeselector #totalseconds {
    display: none;
}

.timeselector button {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: rgb(235, 235, 245);
    font-size: 15px;
}

.timeselector button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.timeselector button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.tv-controller {
    width: 400px;
    height: 700px;
    margin-left: calc((100% - 400px) / 2);
    margin-top: 30px;
}

.tv-controller button {
    position: relative;
    float: left;
    width: 80px;
    height: 50px;
    margin: 10px 10px 10px 10px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(50, 50, 55, 0.7);
    cursor: pointer;
    transition: 0.2s;
}

.tv-controller button svg {
    height: 60%;
}

.tv-controller button:hover {
    background-color: rgba(70, 70, 75, 0.7);
}

.tv-controller button:active {
    background-color: rgba(100, 100, 105, 0.7);
}

.btngreen {
    background-color: #69c350;
}

.btnred {
    background-color: #e73246;
}

.btnyellow {
    background-color: #fdd835;
}

.btnblue {
    background-color: #00b0db;
}

.buttonbg {
    cursor: pointer;
    transition: 0.2s;
}

.buttonbg:hover {
    fill: rgba(70, 70, 75, 0.7);
}

.buttonbg:active {
    fill: rgba(100, 100, 105, 0.7);
}

.buttonsvg {
    fill: rgb(235, 235, 245);
}

.color-selector {
    position: relative;
    width: 290px;
    height: 290px;
}

.color-selector .color-sel {
    width: 100%;
    height: 100%;
}

.color-selector .previewSelector {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(150, 150, 150, 0.05);
    border-radius: 50%;
    cursor: pointer;
}

.custom-color {
    position: relative;
    width: 450px;
    height: 290px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.custom-color .color-selector {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}