@font-face {
    font-family: AvertaSemibold;
    src: url(../fonts/AvertaSemibold.ttf);
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.page {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.topbar {
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 3px solid rgb(1, 101, 194);
}

.topbar .brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    cursor: pointer;
}

.topbar .menu {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    fill: white;
    cursor: pointer;
}

.topbar .weather-showcase {
    position: absolute;
    left: 70px;
    top: 0px;
    width: 120px;
    height: 100%;
    cursor: pointer;
}

.topbar .weather-showcase img {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 120%;
}

.topbar .weather-showcase p {
    position: absolute;
    right: 20px;
    top: -2px;
    font-size: 22px;
    color: white;
}

.topbar .datetime {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.topbar .datetime .clock {
    position: absolute;
    right: 10px;
    top: -50px;
    font-size: 50px;
    color: white;
}

.topbar .datetime .day {
    position: absolute;
    right: 150px;
    top: -5px;
    color: white;
}

.topbar .datetime .date {
    position: absolute;
    right: 150px;
    bottom: -5px;
    color: white;
    white-space: nowrap;
}

.content {
    position: relative;
    width: 100%;
    height: calc(100% - 73px);
}

.content .control-menu {
    width: 100%;
    height: 60px;
}

.content .control-menu .menu-item {
    float: left;
    display: flex;
    width: calc(100% / 4);
    height: 100%;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.content .control-menu .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

.content .control-menu .menu-item svg {
    float: left;
    height: 25px;
    fill: rgb(174, 174, 174);
    margin: 17.5px 17.5px 17.5px 17.5px;
}

.content .control-menu .menu-item p {
    float: left;
    color: rgb(142, 142, 142);
    font-size: 18px;
}

.controls {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.controls .rated {
    width: calc(100% - 30px);
    margin: 15px 15px 15px 15px;
    display: table;
    clear: both;
}

.controls .rated .item {
    position: relative;
    float: left;
    display: block;
    width: 230px;
    height: 210px;
    margin: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "AvertaSemibold";
    cursor: pointer;
}

.controls .rated .item svg {
    margin: 38px 0px 0px 50px;
    width: 50px;
    fill: rgb(235, 235, 245);
}

.controls .rated .item .title {
    margin: 25px 30px 0px 30px;
    font-size: 17px;
    line-height: 21px;
    color: rgb(235, 235, 245);
}

.controls .rated .item .value {
    margin: 1px 30px 0px 30px;
    font-size: 17px;
    line-height: 21px;
    color: rgba(234, 234, 245, 0.6);
}

.controls .rated .item .category {
    margin: 10px 30px 0px 30px;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgba(235, 235, 245, 0.3);
}

.controls .rated .lcenter svg {
    position: absolute;
    left: 50%;
    top: 38px;
    transform: translateX(-50%);
    margin: 0;
}

.controls .rated .lcenter {
    height: 160px;
}

.controls .rated .lcenter .title {
    position: absolute;
    left: 50%;
    top: 108px;
    transform: translateX(-50%);
    margin: 0;
}

.controls .all {
    width: calc(100% - 40px);
    margin: 20px 20px 20px 20px;
}

.controls .all .item-title {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: calc(100% - 10px);
    height: 64px;
    font-family: "AvertaSemibold";
}

.controls .all .item-title p {
    float: left;
    margin: 25px 0px 0px 0px;
    font-size: 20px;
    color: white;
}

.controls .all .item-title svg {
    float: left;
    width: 15px;
    margin: 30px 0px 0px 15px;
    fill: white;
}

.controls .all .item {
    position: relative;
    float: left;
    margin-left: 10px;
    height: 74px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "AvertaSemibold";
    border-top: 1px solid rgba(49, 49, 51, 0.65);
    cursor: pointer;
}

.controls .all .item svg {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 37px;
    fill: rgb(235, 235, 245);
}

.controls .all .item .title {
    position: absolute;
    left: 70px;
    top: -1px;
    font-size: 17px;
    line-height: 21px;
    color: rgb(235, 235, 245);
}

.controls .all .item .value {
    position: absolute;
    left: 70px;
    bottom: -1px;
    font-size: 17px;
    line-height: 21px;
    color: rgba(234, 234, 245, 0.6);
}

.controls .all .item .control {
    float: right;
    height: 100%;
}

.controls .all .item .control .switch {
    margin: 18px 10px 18px 10px;
}

.controls .all .item .control button {
    position: relative;
    float: right;
    width: 38px;
    height: 38px;
    margin: 18px 10px 18px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.controls .all .item .control button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.controls .all .item .control button:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.controls .all .item .control button svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.controls .all .tcenter .title {
    top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 38px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 22px;
    left: 4px;
    bottom: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 3px;
}
  
input:checked + .slider {
    background-color: rgb(105, 195, 80);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(105, 195, 80);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

@media only screen and (max-width: 510px) {

}

@media only screen and (max-width: 670px) {
    .all .item {
        clear: both;
        width: calc(100% - 10px);
    }   
}

@media only screen and (min-width: 670px) {
    .all .item {
        float: left;
        width: calc(50% - 10px);
    }   
}